.header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .logo-titles {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-left: 10px; /* نقل اللوجو إلى اليسار */
    width: 100px; /* Set the desired width */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  }
  
  .titles {
    text-align: right;
  }
  
  .ministry {
    color: #008000;
    font-size: 16px;
    margin: 0;
  }
  
  .kingdom {
    color: #000;
    font-size: 12px;
    margin: 0;
  }
  
  .navbar {
    background-color: #008000;
    display: flex;
    justify-content: space-between; /* يوزع العناصر بالتساوي */
    padding: 10px 20px;
  }
  
  .nav-item {
    margin-left: 20px; /* تقليل المسافة بين العناصر في الناف بار */
  }
  
  .dropdown-menu {
    right: 0;
  }
  
  .dropdown {
    margin-left: 0;
  }
  
  .dropdown-content a {
    color: #000;
  }
  
  .home-link, .dropdown-toggle {
    color: #fff;
    text-decoration: none;
  }
  
  .vertical-divider {
    border-left: 1px solid #fff; /* خط عمودي بين العناصر */
    height: 30px; /* ارتفاع الخط */
    margin: 0 10px; /* المسافة بين العناصر */
  }
  