<header class="header">
    <div class="logo-titles">
     
      <div class="titles">
        <h1 class="ministry">وزارة الداخلية</h1>
        <h2 class="kingdom">المملكة العربية السعودية</h2>
        
      </div>
      <img src="../../assets/images.png" alt="Logo" class="logo">
    </div>
  </header>
  
  
  <header class="navbar">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-building"></i> ديوان الوزارة 
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
        <li><a class="dropdown-item" [routerLink]="['/marriage']">الأستعلام العام عن<br>  طلبات تصاريح الزواج</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" [routerLink]="['/estalam']">الأستعلام العام <br>عن المعاملات</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">الأستعلام عن <br> التعاميم</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">الأستعلام العام <br> عن مدفوعات رصيد<br>   الخدمة المتبقي</a></li>
      </ul>
    </div>
    <hr class="vertical-divider">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-home"></i> الأحوال المدنية
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
        <li><a class="dropdown-item" [routerLink]="['/moamla']">الأستعلام عن المعاملة</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">خدمة بياناتي</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">الإبلاغ عن <br> الوثائق المفقودة</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">حجز موعد</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">خدمة التعريف بتابع</a></li>
      </ul>
    </div>
    <hr class="vertical-divider">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-passport"></i> الجوازات 
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
        <li><a class="dropdown-item" href="#">خدمة التأشيرات</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"> تجديد الإقامة </a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">إصدار الإقامة</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">الإستعلام عن<br> صلاحية الإقامة</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"> تجديد الجواز </a></li>
      </ul>
    </div>
    <hr class="vertical-divider">
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-car"></i> المرور 
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
        <li><a class="dropdown-item" href="#">خدمة المركبات</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"> إضافة مستخدم لمركبة</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">تجديد إستمارة المركب</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">تجديد رخصة القيادة</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#"> إلغاء مستخدم لمركبة </a></li>
      </ul>
    </div>
    <hr class="vertical-divider">
    <a class="nav-link home-link" href="#">
        <i class="fas fa-home"></i> الصفحة الرئيسية
      </a>
  </header>
  