<div id="carouselExampleControls" class="carousel slide mt-4 mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./../../assets/n.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./../../assets/b.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/h.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
    <br>
    <br> 
  
      
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header d-flex justify-content-between" id="headingOne">
          <span class="accordion-arrow align-self-center me-2">;</span>
          <button class="accordion-button collapsed text-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            الأستعلام العام عن طلبات تصاريح الزواج
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body text-right">
            <strong></strong> في موقع وزارة الداخلية في المملكة العربية السعودية، يُمكنك القيام بالاستعلام عن طلبات تصاريح الزواج عبر الإنترنت. يتيح هذا النظام للمواطنين السعوديين والمقيمين في المملكة تقديم الطلبات ومتابعة حالتها بسهولة ويسر.


        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header d-flex justify-content-between" id="headingTwo">
          <span class="accordion-arrow align-self-center me-2">;</span>
          <button class="accordion-button collapsed text-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            الأستعلام العام عن المعاملات
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body text-right">
            يمكن الاستعلام العام عن المعاملات في موقع وزارة الداخلية الخاص بالمملكة العربية السعودية من خلال الخدمات الإلكترونية المتاحة عبر الإنترنت. يتيح هذا الاستعلام للمواطنين والمقيمين الوصول إلى معلومات حول المعاملات المختلفة التي تتعلق بالهوية الوطنية، والجوازات، والإقامات، والعديد من الخدمات الأخرى التي تقدمها الوزارة.<code></code>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header d-flex justify-content-between" id="headingThree">
          <span class="accordion-arrow align-self-center me-2">;</span>
          <button class="accordion-button collapsed text-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            الأستعلام عن المعاملة
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body text-right">
            <strong>يمكنك الاستعلام عن المعاملة في موقع وزارة الداخلية الخاص بالمملكة العربية السعودية عبر الخدمات الإلكترونية المتاحة. توفر وزارة الداخلية خدمات عدة للمواطنين والمقيمين تشمل استعلامات عن المعاملات المختلفة، مثل استعلام عن الهوية الوطنية، استعلام عن التأشيرات، والعديد من الخدمات الأخرى</strong> <code></code>
          </div>
        </div>
      </div>
      <br>
      <br> 
    </div>
